@font-face {
  font-family: 'Montserrat', sans-serif;
}

/*Переопределяем расчёт размеров у боксов с надеждой, что это нам когда-нибудь поможет*/
html {
  box-sizing: border-box;  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
}

.text-style_normal{
  color: #2A2367;
  font-family: Montserrat; 
}

.text-style_colored{
  color: #6B5AF9;
}
.advantages__title{
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 54px;
  text-align: center;
}

.advantages-panel {    
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 54px 20px;
  overflow: hidden;
  height: 220px;
  padding-bottom: 0;
  transition: 
  height 1.2s,
  padding-bottom 1.2s;  
  padding-left:20px;
  padding-right: 20px;    
}

.advantages-panel__item{
  width: 373px;
  height: 200px; 
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15); 
}


.advantages-panel__item__number {
  color: #FFF;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);  
  font-size: 64px;  
  font-weight: 700;
  padding-top: 2px;
  padding-left: 15px;
  padding-bottom: 1px; 
  margin: 0px;
}
.advantages-panel__item__title {
  padding: 0px;
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
  padding-left: 15px;
}
.advantages-panel__item__stick {
  width: 175px;
  height: 2px; 
  background-color: #E37575;
  padding: 0px;
  margin: 0px;
  margin-left: 15px;
}
.advantages-panel__item__descriprtion{
  position:relative;
  width: 320px;  
  font-size: 12px;
  font-weight: 400;
  padding-top:8px;
  padding-left: 15px;
  margin: 0px;
  
  }

.img_arrow {
  position:relative;  
  margin: 0 50%;   
  margin-top: 28px;
  margin-bottom: 16px;
  width: 36px;
  height: 36px;
  transition: 
  transform 1.2s,
  margin-bottom 1.2s,
  margin-top 1.2s;
  }
  .img_arrow_opened {
    transform: scaleY(-1);
    margin-top: 20px;
    margin-bottom: 50px;
  }

.img_arrow_left {
  position:absolute;
  left: 0px;
  top: -3px;
  width: 11px;
  height: 3px;
  background-color:#6B5AF9;
  border-radius: 3px;
  transform: rotate(135deg);
}
.img_arrow_right {
  position:absolute;
  left: -6px;
  top: -3px;
  width: 11px;
  height: 3px;
  background-color:#6B5AF9;
  border-radius: 3px;
  transform: rotate(45deg);
}
.advantages-button__checkbox {
  position: absolute;
  appearance: none;
}

/*  ~~~~ ~~~~ ~~~~ ~~~~ ~~~~Копируем стили кнопки из основы ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~  */
.main__cost-link {
  text-decoration: none;
}
.main__cost-link_visual-button {
  margin: 0px auto;
  width: 275px;
  height: 60px;
  border-radius: 5px;
}
.link-btn__visual-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6B5AF9;
  color: white;
  font-size: 12px;
  font-weight: 800;
}
/* для телефонов*/
@media all and (max-width: 768px) {
  .main .agent_no-mobile {
    display: none;
  }
  .advantages-panel__item {
    box-shadow: none;
  }
  .swiper {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  }  
  .main .swiper-pagination
  {
    position:relative;
    bottom:0;
    top: 0;
    margin-top: 31px;
    margin-bottom: 44px;
  }
}
/* для планшетиков*/
@media all and (min-width: 768px) and (max-width: 1200px) {
  .advantages-panel_open {
    height: 720px;
    padding-bottom: 55px;
  }
  .advantages-panel {
    margin-left:0px;
    margin-right:0px;        
  }
  .main .agent_mobile {
    display: none;
  }  
  .advantages-panel__item{
    width: 363px;
  }
}

/* Небольшие правки, чтобы флекс выдавал правильное количество элементов в строке */
@media all and (min-width: 768px) and (max-width: 1000px) {
  .advantages-panel {      
    padding-left:0px;
    padding-right: 0px;
          
  }
}
@media all and (min-width: 1000px) and (max-width: 1200px) {
  .advantages-panel {      
    padding-left:50px;
    padding-right: 50px;          
  }
}

/* для ПК*/
@media all and (min-width: 1200px) {
  .advantages-panel_open {
    height: 480px;
    padding-bottom: 55px;
  }
  main .agent_mobile {
    display: none;
  }
  .advantages-panel__item{
    width: 373px;
  }
}

/* Пробуем инициировать Swiper  */
.swiper {
  width: 372px;
  height: 200px;
}

